
@import "./normalize.css";

@font-face {
    font-family: 'Gilam';
    src: url(../aseets/fonts/gilam-bold/gilam-bold.ttf);
    font-weight: 700;
    font-family: 'Circe';
    src: url(../aseets/fonts/Circe/circe.ttf);
    font-weight: 400;
}


.container {
    width: 1460px;
    margin: 0 auto;
}

.background_heder_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../aseets/images/header-bg.jpeg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    font-family: 'Gilam';
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    font-family: 'Circe';
}

.logo__image {
    width: 216px;
}

.header_tel-callback {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__tel {
    padding-right: 39px;
}

.tell_decoration {
    color: #D6AF76;
}

.header_button-callback {
    display: flex;
    justify-content: end;
    align-items: center;
    background: none;
    border: 1px solid #E4B564
}

.haeder__handset {
    width: 12.96px;
    height: 12.96px;
    margin-left: 25px;
}

.header__link-callback {
    color: #E4B564;
    font-size: 18px;
    padding: 10px 25px 10px 10px;
}

.main {
    margin-top: 130px;
    text-align: left;
}

h2 {
    font-size: 50px;
}

.main_description {
    margin: 41px 0;
    line-height: 28px;
}

.main_servicelist {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(2 , 468px);
    grid-template-areas: 
    'excavation excavation underground underground channel channel'
    'support support support well well well';
    gap: 30px;
}

.main_servicelist> div {
    text-align: center;
    padding: 220px auto;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.excavation {
    grid-area: excavation;
    background-color: #634F2C;
}

.underground {
    grid-area: underground;
    background-color: #B4A385;
}

.channel {
    grid-area: channel;
    background-color: #E4B564;
}

.support {
    grid-area: support;
    background-color: #635A4A;
}

.well {
    grid-area: well;
    background-color: #B08C4D;
}

.title_own-fleet {
    padding-top: 161px;
}

.wrapper_block2 {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(7 , 125.5px);
    grid-template-areas: 
    'sludge_machine sewer_machine backhoe_loader'
    'sludge_machine sewer_machine backhoe_loader'
    'sludge_machine sewer_machine flatbed__kamaz'
    'loader sewer_machine flatbed__kamaz'
    'loader excavator flatbed__kamaz'
    'loader excavator rink'
    'loader excavator rink';
    gap: 30px;
    padding-top: 94px;
    font-weight: 500;
    margin-bottom: 191px;
}

.grid-item_block2 {
    display: flex;
    padding: 44px 0 0 52px;
}

.sludge_machine {
    grid-area: sludge_machine;
    background-color: #0E0E0E;
}

.sewer_machine {
    grid-area: sewer_machine;
    background-color: #242424;
    margin-bottom: 30px;
}

.kamaz_text-decoration {
font-weight: 700;
}

.backhoe_loader {
    grid-area: backhoe_loader;
    background-color: #1F1F1F;
}

.loader {
    grid-area: loader;
    background-color: #1F1F1F;
}

.excavator {
    grid-area: excavator;
    background-color: #E4B564;
    position: relative;
    bottom: 30px;
}

.flatbed__kamaz {
    grid-area: flatbed__kamaz;
    background-color: #0E0E0E;
}

.rink {
    grid-area: rink;
    background-color: #0A0909;
    font-weight: 700;
}

.wrapper_clients_partners {
    width: 100%;
    background-image: url(../aseets/images/parallax-bg.jpeg);
    background-attachment: fixed;
    margin: 0 auto;
}

.clients_partner {
    width: 1460px;
    margin: 0 auto;
}

.our_clients {
    display: flex;
    justify-content: space-between;
    padding-top: 272px;
    align-items: center;
}

.title_our-clients {
    color: #FFFFFF;
}

.link__all-projects {
    color: #D6AF76;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}

.partner-client {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 391px);
    grid-template-areas: 
    'eid mavis arsenal'
    'arsenal_second setgroup eid_second';
    padding-top: 72px;
    font-weight: 600;
}

.eid {
    grid-area: eid;
    background-color: #634F2C;
}

.eid_partner-client {
    width: 185px;
}

.mavis {
    grid-area: mavis;
    background: rgba(232, 210, 171, 0.76);
}

.mavis_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mavis_description {
    padding-top: 16px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.mavis_description {
    color: #FFFFFF;
}

.mavis_text-decoration {
    font-weight: 600;
}

.arsenal {
    grid-area: arsenal;
    background-color: #E4B564;
}

.arsenal_partner-client {
    width: 190px;
}

.arsenal_second {
    grid-area: arsenal_second;
    background-color: #635A4A;
}

.setgroup {
    grid-area: setgroup;
    background-color: #B08C4D;
}

.setgroup_partner-client {
    width: 119px;
}

.eid_second {
    grid-area: eid_second;
    background-color: #634F2C;
}

.footer {
    width: 100%;
    height: 238.81px;
    background-image: url(../aseets/images/header-bg.jpeg);
    background-attachment: fixed;
    margin: 0 auto;
}

